<div>
    <br>
</div>
<form (ngSubmit)="createOrUpdate()">
     
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" [(ngModel)]="blog.title" class="form-control">
    </div>
    <br>

    <div class="form-group">
        <label for="catagory">Catagory</label>
        <input type="text" name="catagory" [(ngModel)]="blog.catagory" class="form-control">
    </div> 
    <br>

    <div class="form-group">
        <label for="content">Content</label>
        <textarea type="text" name="content" [(ngModel)]="blog.content" class="form-control"></textarea>
    </div>
    <br>

    <input type="submit" value="Submit" class="btn btn-success">
    
</form>
